---
layout: layouts/base.njk
title: Contacto
eleventyNavigation:
  key: contacto
  title: Contacto
  order: 4
---

<div class="col-5 col-md-4 col-sm-3 col-xs-6 contacto-titulo">
  <h1 class="font-2 text-headling">Contacto</h1>
</div>

<form class="col-7 col-md-6 col-sm-5 col-xs-6 contacto-form">
  !Hola! <br>
  <label for="name">Me llamo</label>
    <input id="name" type="text" placeholder="tu nombre">
y <label for="project">Tengo un proyecto de </label>

<select id="project">
  <option>fotografía</option>
  <option>ilustración</option>
  <option>otro</option>
  <select>
    en qué me gustaría que me ayudaras
    <label for="email" type="email" placeholder="tu email">
      !Gracias"<br>
      <button type="submit" class="contacto-enviar">enviar</button>
      </form>